<div class="container">


<h2 class="text-center mt-4">Registrate</h2>
  <div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="field">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, autocomplete: "Nombre" %>
    </div>
    
    <br/>

    <div class="field">
      <%= f.label :lastname, "Apellido" %>
      <%= f.text_field :lastname, autocomplete: "Apellido" %>
    </div>

    <br/>
    
    <div class="field">
      <%= f.label :rut %>
      <%= f.text_field :rut, autocomplete: "RUT" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :phone, "Telefono" %>
      <%= f.text_field :phone, autocomplete: "Telefono" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :address, "Direccion" %>
      <%= f.text_field :address, autocomplete: "Direccion" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :email, "Correo Electronico" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "Correo Elecronico" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :password, "contrase単a" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "Nueva contrase単a" %>
    </div>

    <br/>

    <div class="field">
      <%= f.label :password_confirmation, "Confirma contrase単a" %>
      <%= f.password_field :password_confirmation, autocomplete: "Nueva contrase単a" %>
    </div>
    
    <br/>

    <div class="actions">
      <%= f.submit "Registrarse" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
