<p id="notice"><%= notice %></p>

<h1>Products</h1>


<%= search_form_for @q do |f|%>
    <div  class="form-inline my-2 my-lg-0"%>
        <%= f.search_field :name_or_descriptions_cont, placeholder: 'Buscar Productos', class:"form-control mr-sm-2" %>
        <%= f.submit "Buscar", class:"btn btn-outline-success mx-2 my-2" %> 
        <%= link_to "Mostrar todos", root_path, class:'btn btn-outline-success text-success'%>
    </div>
<% end %>

<div class="card-deck container-fluid py-2 mx-auto">
    <div class="row">
        <% @products.each do |product| %>
            <div class="card">
                <%= link_to (product_path(product)) do %>
                <%= image_tag product.photo, class:"image" %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title h3 text-dark"><%= product.name %></h5>
                        <%= form_for :cart, url: shopping_cart_path(product), method: :put do |f| %>
                        <%= f.hidden_field :product_id, value: product.id %>
                        <%= f.hidden_field :quantity, value: 1 %>
                        <span>Calificación : <%= rating_for product, 'price', star: 5 %></span>
                    </div>
                    <p class="card-text h4 text-danger text-center">$<%= product.price %></p>
                        <%= f.submit "Agregar al carrito", class:"btn btn-primary btn-sm mx-2 my-2"%>
                    </div>
            <% end %>
        <% end %>
    </div>
</div>



<!--




<div class="container-fluid">
    <div class="row my-5 mx-1">
        <div class="col-4 ">

                <% @products.each do |product| %>
                    <div class="card">
                        <%= link_to (product_path(product)) do %>
                            <%= image_tag product.photo, class:"image" %>
                        <% end %>
                            <div class="card-body">
                                <h5 class="card-title h3 text-dark"><%= product.name %></h5>
                                    <%= form_for :cart, url: shopping_cart_path(product), method: :put do |f| %>
                                    <%= f.hidden_field :product_id, value: product.id %>
                                    <%= f.hidden_field :quantity, value: 1 %>
                                    <span>Calificación : <%= rating_for product, 'price', star: 5 %></span>
                            </div>
                                <p class="card-text h4 text-danger text-center">$<%= product.price %></p>
                                <%= f.submit "Agregar al carrito", class:"btn btn-primary btn-sm mx-2 my-2"%>
                    <% end %>
                <% end %>
                            </div>
            </div>
        </div>
    </div>

-->

<div class="col-md-8 offset-md-2 mx-2 my-5 ">
    <%= paginate @products, class:'btn btn-danger mx-2'  %>
</div>
