<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

  <p>
  <strong>Descriptions:</strong>
  <%= @product.descriptions %> 
  <p>

  <img class="img-fluid"
  src="<%= @product.photo%>" alt="" />
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<p>
Calidad  : <%= rating_for @product, 'price', star: 5 %>
</p>

<% if current_user && current_user.admin == true %>
  <%= link_to edit_product_path(@product) do %> 
    <i class="fas fa-edit fa-2x"></i>
      <% end %>
  <%= link_to products_path do %> |
    <i class="fas fa-arrow-circle-left fa-2x"></i>
      <% end %> |
  <%= link_to @product, method: :delete, data: { confirm: '¿Estas seguro?' } do %>
    <i class="fas fa-trash-alt fa-2x"></i>
      <% end %>
<% end %>

</div>




